body{
  width: 860px;
  margin: 80px auto;

}
.info-bar{
  display: flex;
  justify-content: space-between;
  padding: 0px 8px 0px 8px;
}
.info-bar_time{
  font-size: 20px;
  font-weight: bold;
}
.info-bar img{
  width: 20px;
}

.menu-bar{
  display: flex;
  justify-content: space-between;
 padding: 40px 2px 0px 6px;
}

.menu-bar_location{
  font-size: 25px;
}
.menu-bar_icon img{
  width:20px;
  padding-right: 6px;
}
.menu-bar_location img{
  width: 23px;
}

.main{
  margin-top: 100px;
 

}
.main-item_list{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  
}
.main-item_list img{
  display: block;
  margin:10px 30px 40px 0px;
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 5%;
}
item-list_info{
  height: 100%;
}









.footer{
  width: 100%;
  margin: 100px auto;
  margin-left: 184px;
  background-color: white;
  position: flex;
 
}
.footer div{
  float: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  padding-right: 30px;
}
.footer img{
  display: block;
  width: 30px;
  justify-content: center;
}
.footer span{
 padding-left: 10px;
}